body { 
	color: #FFF; 
	font-family: 'Saira', sans-serif; 
	font-weight: 700;
	background-image: url("http://getwallpapers.com/wallpaper/full/c/6/c/658422.jpg")
}

.container {
	margin: 100px;
}

#contact-me-window {
	position: absolute;
	width: 200px;
	top: 100px;
	left: 300px;
	z-index: -1;
}

#resume-window {
	position: absolute;
	width: 517px;
	top: 30px;
	left: 750px;
	z-index: 1;
}

#paint-window {
	position: absolute;
	top: 250px;
	left: 330px;
	width: 670px;
	z-index: -1;
}

#icons-container {
	position: absolute;
	top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	width: 200px;
	height: 600px;
	z-index: -5;
}

#about-me-window {
	position: absolute;
	width: 200px;
	top: 55px;
	left: 520px;
}

#navbar {
	display: flex;
	height: 26px;
	background-color: rgb(192,192,192);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: ridge 2px white;
}

#clock.style {
	color: black;
}

#start {
	background: url(http://3.bp.blogspot.com/_GHdkzvwFn7Y/TMYEWcRx23I/AAAAAAAAAAQ/M3oi_a8npz0/s1600/Windows_Vista_Icon_HD_by_magbanuamicah.png) left center no-repeat;
	background-size: 17px 15px;
	text-align: right;
	font-weight: bolder;
	font-size: 12px;
	width: 52px;
	height: 21px;
	display: inline-block;
	padding: 1px 2px;
	margin-left: 2px;
	cursor: default;
	user-select: none;
}

#startMenu {
	top: -238px;
	left: 2px;
	height: 130px;
	width: 164px;
	background-color: rgb(192,192,192);
	border-top: ridge 3px white;
	border-left: ridge 3px white;
	border-bottom: ridge 2px black;
	border-right: ridge 2px grey;
}

#startMenu .menuItem {
	height: 32px;
	width: 163px;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	vertical-align:central;
}

#startMenu .menuItem:hover {
	background-color:rgb(0,0,128);
	color:white;
}