body { 
	color: #FFF; 
	font-family: 'Saira', sans-serif; 
	font-weight: 700;
	background-image: url("http://getwallpapers.com/wallpaper/full/c/6/c/658422.jpg")
}

.container {
	margin: 100px;
}


#contact-me-window {
	position: absolute;
	width: 200px;
	top: 100px;
	left: 300px;
	z-index: -1;
}

#resume-window {
	position: absolute;
	width: 517px;
	top: 30px;
	left: 750px;
	z-index: 1;
}

#paint-window {
	position: absolute;
	top: 250px;
	left: 330px;
	width: 670px;
	z-index: -1;
}

#icons-container {
	position: absolute;
	top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	/* border:1px solid white; */
	width: 200px;
	height: 600px;
	z-index: -5;
}

#about-me-window {
	position: absolute;
	width: 200px;
	top: 55px;
	left: 520px;
}


#navbar {
	height: 26px;
	background-color: rgb(192,192,192);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border-top: ridge 2px white;
}

#start {
	background: url(http://3.bp.blogspot.com/_GHdkzvwFn7Y/TMYEWcRx23I/AAAAAAAAAAQ/M3oi_a8npz0/s1600/Windows_Vista_Icon_HD_by_magbanuamicah.png) left center no-repeat;
	background-size: 17px 15px;
	text-align: right;
	font-weight: bolder;
	font-size: 12px;
	float: left;
	width: 52px;
	height: 21px;
	display: inline-block;
	padding: 1px 2px;
	margin-left: 2px;
	cursor: default;
	user-select: none;
}

#startMenu {
	top: -238px;
	left: 2px;
	height: 240px;
	width: 164px;
	background-color: rgb(192,192,192);
	position: absolute;
	display: none;
	border-top: ridge 3px white;
	border-left: ridge 3px white;
	border-bottom: ridge 2px black;
	border-right: ridge 2px grey;
}

	#startMenu #left {
		width: 28px;
		position: absolute;
		left: 0px;
		top: 0px;
		bottom: 0px;
		background-color: rgb(128,128,128);
		font-family: Arial;
		font-weight:900;
		text-transform: capitalize;
	}

	#startMenu .menuItem {
		color:black;
		height: 32px;
		width: 134px;
		margin-left: 24px;
		padding-left:10px;
		padding-top:10px;
		vertical-align:central;
	}

	#startMenu .menuItem:hover {
		background-color:rgb(0,0,128);
		color:white;
	}

	#startMenu .expander:after{
		content:'▶';
		float:right;
		margin-right:5px;
	}

	#startMenu .menuItem:first-letter{
		text-decoration:underline;
	}
	
	#startMenu #shutdown:first-letter{
		text-decoration:none;
	}

	
		#startMenu #left .b {
			color: rgb(192,192,192);
			transform: rotateZ(-90deg);
			transform-origin: center left;
			display: inline-block;
			width: 200px;
			white-space: nowrap;
			font-size: 20px;
			margin-top: 215px;
			margin-left: 10px;
		}

		#startMenu #left .num95 {
			font-weight: 100 !important;
			color: white;
		}