body { 
	color: #FFF; 
	font-family: 'Saira', sans-serif; 
	font-weight: 700;
	/* background-image: url('https://i.imgur.com/dMIxDvE.png') */
	background-image: url("http://getwallpapers.com/wallpaper/full/c/6/c/658422.jpg")
}

.container {
	margin: 100px;
}


#contact-me-window {
	position: absolute;
	width: 200px;
	top: 100px;
	left: 300px;
	z-index: -1;
}

#resume-window {
	position: absolute;
	width: 517px;
	top: 50px;
	left: 700px;
	z-index: 1;
}

#paint-window {
	position: absolute;
	top: 250px;
	left: 330px;
	width: 670px;
	z-index: -1;
}

#icons-container {
	position: absolute;
	top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	/* border:1px solid white; */
	width: 200px;
	height: 600px;
	z-index: -5;
}